[advisories]
vulnerability = "deny"
unmaintained = "warn"
yanked = "deny"
notice = "deny"

[licenses]
unlicensed = "deny"
allow = [
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "MIT",
]
copyleft = "deny"
default = "deny"

[bans]
multiple-versions = "warn"
wildcards = "deny"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
